@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Poiret+One&display=swap");

body {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  background-color: ghostwhite;
  font-size: 16px;
  margin: 10px;
}

h1 {
  font-family: "Poiret One", cursive;
  font-size: 80px;
  padding: 16px;
}

h2 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 48px;
  border: 2px solid darkslategray;
  padding: 16px;
  box-shadow: 2px 2px 4px rgba(88, 8, 26, 0.64);
  border-radius: 8px;
}

h3 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 32px;
  border-top: 2px solid rosybrown;
  padding: 16px;
}

a {
  color: black;
  text-decoration: none;
}

.warning {
  color: #ef1e1e;
}

.bottom {
  margin: 40px 0px 40px 0px;
  padding: 32px;
  border-top: 2px solid rosybrown;
}

.img-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img-list img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 2px 4px rgba(88, 8, 26, 0.64);
  margin-bottom: 32px;
  border-radius: 8px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  
  
  transition: all .2s ease-out;
}


.show {
  opacity: 1;
  pointer-events: all;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  z-index: -1;
}

.lightbox-img {
  width: 95%;
  height: 95%;
  object-fit: contain;
  
  transform: translateY(20px);
  
  transition: all .3s ease-out;
}

.lightbox.show .lightbox-img {
  transform: translateY(0);
}

.img-score {
  width: 95vw;
  border-radius: 8px;
  /* box-shadow: 2px 2px 4px rgba(88, 8, 26, 0.64); */
  max-width: 650px;
  margin: 2px;
}

.box {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  /* box-shadow: 2px 2px 4px rgba(88, 8, 26, 0.64); */
  /* border: 2px solid black; */
  border-radius: 8px;
  margin: 2px;
  background-color: white;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contactbox {
  margin: 40px 0px 40px 0px;
  padding: 32px;
  border-top: 2px solid rosybrown;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact {
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(88, 8, 26, 0.64);
  border: 2px solid black;
  border-radius: 8px;
  font-weight: 900;
}

.excerpt1 {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  /* box-shadow: 2px 2px 4px rgba(88, 8, 26, 0.64); */
  /* border: 2px solid black; */
  border-radius: 8px;
  margin: 2px;
  background-image: url("https://user-images.githubusercontent.com/57075784/73016086-113f2980-3dd2-11ea-852c-fb7a8adb2dca.jpeg");
}

.excerpt2 {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  /* box-shadow: 2px 2px 4px rgba(88, 8, 26, 0.64); */
  /* border: 2px solid black; */
  border-radius: 8px;
  margin: 2px;
  background-image: url("https://user-images.githubusercontent.com/57075784/73016088-11d7c000-3dd2-11ea-81ad-7aa21fc1b3e5.jpeg");
}

.excerpt3 {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  /* box-shadow: 2px 2px 4px rgba(88, 8, 26, 0.64); */
  /* border: 2px solid black; */
  border-radius: 8px;
  margin: 2px;
  background-image: url("https://user-images.githubusercontent.com/57075784/73016084-113f2980-3dd2-11ea-9b71-5293945ff367.jpeg");
}
.ravel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
