@import url("https://fonts.googleapis.com/css?family=Comfortaa|Quicksand&display=swap");

body {
  text-align: center;
  margin: 2px;
  padding: 0;
  font-family: comfortaa, courier;
  line-hieght: 2em;
}
.bottom {
  margin: 40px 0px 40px 0px;
  padding: 32px;
  border-top: 2px solid rosybrown;
  font-size: 16px;
}

p {
  font-size: 12px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: quicksand, courier;
}
h1,
h2,
h3 {
  font-family: quicksand, courier;
}
h3 {
  border-top: 2px solid rosybrown;
  padding: 12px;
  margin: 0;
}

a > img {
  height: 30vh;
  margin: 1vh;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
}

.about {
  margin: 0 0 3vh 0;
  width: 100px;
  height: 25px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 4px;
  line-height: 25px;
}

.linkbox {
  display: flex;
  justify-content: center;
}

.contactbox {
  margin: 40px 0px 40px 0px;
  padding: 32px;
  border-top: 2px solid rosybrown;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact {
  width: 100px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  box-shadow: 2px 2px 4px;
  border: 2px solid black;
  border-radius: 10px;
}

.tenneygraphic {
  width: 70vw;
  margin: 1vh;
  border-radius: 10px;
}

.ravelgraphic > img {
  height: 25vh;
  margin: 1vh;
  border-radius: 10px;
}

.ravelcoda > img {
  height: 25vh;
  margin: 1vh;
  border-radius: 10px;
}

.chaconnescore > img {
  width: 90vw;
  margin: 1vh;
  border-radius: 10px;
}

.unisontable > img {
  width: 30vh;
  margin: 1vh;
  border-radius: 10px;
}

.top > p {
  margin: 20px;
  font-size: 16px;
}

.justdyads > img {
  width: 90vw;
  margin: 1vh;
  border-radius: 10px;
}

.pitchlist > img {
  width: 90vw;
  margin: 1vh;
  border-radius: 10px;
}

.chaconnetuning > img {
  width: 100vw;
  margin: 1vh;
  border-radius: 10px;
}

.prompttuning > img {
  width: 100vw;
  margin: 1vh;
  border-radius: 10px;
}

.disklaviertuning > img {
  width: 100vw;
  margin: 1vh;
  border-radius: 10px;
}

.img-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img-list img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 2px 4px rgba(88, 8, 26, 0.64);
  margin-bottom: 32px;
  border-radius: 8px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  pointer-events: none;

  transition: all 0.2s ease-out;
}

.show {
  opacity: 1;
  pointer-events: all;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  z-index: -1;
}

.lightbox-img {
  width: 95%;
  height: 95%;
  object-fit: contain;

  transform: translateY(20px);

  transition: all 0.3s ease-out;
}

.lightbox.show .lightbox-img {
  transform: translateY(0);
}
