@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
}
body a {
  color: peachpuff;
}
a {
  font-weight: bold;
  text-decoration: none;
}
span {
  color: peachpuff;
}
/* COVID BANNER */
.covidbanner p {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: black;
  transition: .5s ease;
}
.covidbanner p:hover {
  color: azure;
}
.covidbanner {
  background-color:  peachpuff;
  margin: 0px;
  padding: 5px;
}
/* BODY TEXT */
.bodytext p {
  margin: 0;
  padding: 0;
}
.bodytext a {
  transition: .5s ease;
}
.bodytext a:hover {
  color: azure;
}
.bodytext {
  margin: 0 25% 0 15%;
  padding: 2% 0 2% 0;
}

/* HEADER PHOTO index */
.headerphoto {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  overflow: hidden;
}
.headerphoto img {
  margin: -18% 0 -15% 0;
}
/* HEADER NAME index */
.name {
  font-size: 2em;
  background-color: #cbc7cc;
  color: black;
  padding: .2% 0 .6% 10%;
}

/* HEADER PHOTO studies */
.headerphoto2 {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  overflow: hidden;
}
.headerphoto2 img {
  margin: -90% 0 -33% 0;
}

.playercushion {
  margin: 10px;
}

/* cell phone size */
@media screen and (max-width: 600px) {
  .bodytext {
    margin: 0 3% 0 3%;
    padding: 1% 0 1% 0;
  }

.covidbanner {
  background-color:  peachpuff;
  margin: 0px;
  padding: 4px;
}

  /* HEADER NAME index */
.name {
  font-size: 1.8em;
  background-color: #cbc7cc;
  color: black;
  padding: .3% 0 .7% 2%;
}
  .headerphoto {
  position: relative;
  text-align: center;
  color: white;
  width: 200%;
  overflow: hidden;
  margin-left: -50%;  
  margin-right: -50%;
}
.headerphoto img {
  margin: -19% 0% -15% 0;
}
  .headerphoto2 {
  position: relative;
  text-align: center;
  color: white;
  width: 200%;
  overflow: hidden;
  margin-left: -20%;
  margin-right: -80%;
}
.headerphoto2 img {
  margin: -90% 0% -28% 0;
}

}
